<style>
#dropdown {
  width: 200px
}
#dropdown li{
  list-style:none;
  line-height: 30px;
  background: blue;
  margin: 2px;
}
 
#dropdown li a{
  margin-left: 10px;
  color: #FFF;
  text-decoration: none;
}
 
#dropdown ul{
  display:none;
  padding: 0px;
  background: pink
}
 
#dropdown ul li{
  background-color: pink
}
</style>

<ul id="dropdown">
    <li><a href="#">Trang chủ</a></li>
    <li>
        <a href="#">Sản phẩm</a>
        <ul>
            <li><a href="#">Gạch cao cấp</a></li>
            <li><a href="#">Gạch thủ công</a></li>
            <li><a href="#">Gạch hoa văn</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Tin tức</a>
        <ul>
            <li><a href="#">Tin công nghệ</a></li>
            <li><a href="#">Tin trong nước</a></li>
            <li><a href="#">Tin thời sự</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Dịch vụ</a>
        <ul>
            <li><a href="#">Thiết kế web</a></li>
            <li><a href="#">Quảng cáo web</a></li>
            <li><a href="#">Thiết kế đồ họa</a></li>
        </ul>
    </li>
</ul>